*{
    margin: 0px;
    padding: 0px;
}
body{
    background:white;
}
.buttons{
    margin:10px;
}
.buttons button{
    border: 0px;
    outline: 0px;
    background: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 110px;
    height: auto;
    margin: 10px;
    cursor: pointer;
}
#tostbar{
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 20px;
    flex-direction: column;
}
.toast{
    width: 400px;
    height: 70px;
    box-shadow: 0 0 20px rgb(0, 0, 0,0.3);
    background: #fff;
    font-weight: 500;
    margin: 15px 0 ;
    align-items: center;
    display: flex;
    position: relative;
    transform:translateY(100%);
    animation: anima 0.5s linear forwards;
}

@keyframes anima{
    100%{
        transform: translateX(0%);
    }
}
.toast i{
    margin: 0 20px;
    color: green;
    font-size: 25px;

}
.toast.error i{
    color: red;
}
.toast.Invalid i{
    color:orange;
}
.toast::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: green;
    animation: anim 5s linear forwards;
}
@keyframes anim{
    100%{
        width: 10px;
    }
}
.toast.error::after{
    background: red;
}
.toast.Invalid::after{
    background:orange;
}